body {
  margin: 0;
  font-family: Verdana;
}

header {
  background-image: linear-gradient(LightSeaGreen, MediumAquamarine, white);
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#name {
  font-family: "Verdana";
  font-size: 2rem;
}

#name strong {
  font-family: Verdana;
  font-size: 2rem;
}

header nav {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;

 font-size: 14px;
 padding: 20px;

 display: flex;
 justify-content: space-between;
 align-items: center;
}

 header h1 {
  margin-top: 10%;
  font-weight: normal;
  text-align: center;
 } 

 header h1 strong {
  font-size: 60px;
  letter-spacing: 4px;
 }

 .queensText {
   margin-top: 0;
   text-align: center;
 }

 .queensText h3 {
   margin-top: 0;
   margin-bottom: 50px;
   font-size: 3rem;
 }

 .queensText a.button {
   margin: 20px;
   border-radius: 100px;
   font-size: 1.5rem;
   padding: 10px 15px;
   border: 2px solid teal;
   background-color: teal;
 }

#links a {
  margin: 5px;
  font-size: 1.5rem;
  color: DarkSlateGray;
}

 a:link {
   text-decoration: none;
 }

 a:visited {
   text-decoration: none;
 }

 a:hover {
   text-decoration: underline;
   color: black;
 }

 footer {
   font-size: 2rem;
   height: 40%;
   background-color: teal;
   color: black;
   margin-bottom: 0;
   margin-top: 20%;
 }

 footer h4 {
   text-align: center;
   margin: 0.5%;
 }

 footer p {
   padding-left: 5%;
   font-size: 1.5rem;
   margin-bottom: 0;
 }