*{
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgrey;
  padding: 0px;
  margin: 0px;
  font-size: 10pt;
  text-shadow: 0px 1px 0px rgb(40, 40, 40);
}

.global {
  color: black;
  width: 80%;
  margin: 0 auto;
}

#name {
  position: relative;
  top: 8px;
  left: 10px;
  padding: 5px 15px;
  font-size: 30px;
}

header a { 
  position: relative;
  top: 10px;
  left: 50px;
  float: left;
  width: 100px;
  display: block;
  color: dimgray;
  text-align: center;
  padding: 14px 16px;
  font-size: 15px;
}

.options {
  position: relative;
  background-color: white;
  color: black;
  height: 430px;
  width: 23%;
  float: left;
}

.options #reinas {
  padding: 15px 32px;
  transform: scale(3);
  width: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  left: 10%;
  top: 30px;
}

.options label {
  width: 20%;
  padding: 15px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
  position: relative;
  left: 5%;
  top: 30px;
}

.options #solution {  /* Botón de Generar solución */
  background-color: green;
  color: white;
  padding: 15px 32px;
  width: 75%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  position: relative;
  left: 15%;
  top: 70px;
}

.options #nextsolution {  /* Botón de Siguiente solución */
  background-color: green;
  color: white;
  padding: 15px 32px;
  width: 75%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  position: relative;
  left: 15%;
  top: 120px;
}

.options #game { /* Botón de Partida de ajedrez */
  background-color: green;
  color: white;
  padding: 15px 32px;
  width: 75%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  position: relative;
  left: 15%;
  top: 170px;
}

#canvas {
  position: relative;
  left: 3%;
  top: 10%;
  background: white;
  padding: 0;
  display: block;  
  float: left;
}

#visualizacion { /* Segundo Canvas */
  position: relative;
  background: white;
  padding: 0;
  display: block;  
  position: relative;
  left: 5%;
}

footer { /* Pie de página */
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
  background-color: grey;
  color: white;
  text-align: center;
  font-size: 14px;
}